*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    /* padding: 20px; */
}
/* navbaar styling */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(136, 136, 248);
    padding: 10px;
    margin: auto;
}
.logo{
    text-align: center;
    font-size: 20px;
    color: #f4f4f4;

}
.nav-mid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav-mid  li {
    list-style: none;
}
.nav-mid li a{
    text-decoration: none;
    font-weight: bold;
    color: #f4f4f4;
}
.nav-side{
    display: flex;
    gap: 20px;
}
.nav-mid a{
    padding: 30px;
}
.nav-side a{
    padding: 20px;
}
.nav-side li{
    list-style: none;
}
/* end styling navbar */

/* product slider styling */
.container-content{
    display: flex;
    margin: 20px;
    gap: 20px;
}
.card-item img{
    width: 200px;
    height: 200px;
    object-fit: content;
    border-radius: 10px;
}
.celana{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.celana button{
    padding: 5px 10px;
    border: none;
    background-color: rgb(136, 136, 248);
    color: #ffffff;
    border-radius: 5px;
    margin: 10px 0;
    font-weight: bold;
}
